.p {
  line-height: 10px;
  margin-bottom: 1rem;
  &-thickness {
    &-thick {
      font-weight: 700;
    }

    &-normal {
      font-weight: 500;
    }

    &-thin {
      font-weight: 300;
    }
  }

  &-size {
    &-large {
      font-size: 1.5rem;
    }

    &-normal {
      font-size: 1rem;
    }

    &-small {
      font-size: 0.8rem;
    }
  }
}
