@use "sass:math";

@import "/src/shared/styles/constants";
@import "/src/shared/styles/colors";

@mixin title-background {
  content: " ";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

$rotate-scale: 2;

@for $level from -5 through 5 {
  .special-title-rotate-#{$level} {
    &::after {
      transform: rotate(#{$level * $rotate-scale}deg);
    }
  }
}

.special-title {
  font-weight: 600;
  display: inline-block;
  width: fit-content;
  position: relative;
  overflow: visible;
  margin-bottom: 1rem;
}

@each $color-name, $color in $colors {
  .special-title-#{$color-name} {
    @extend .special-title;
    &::after {
      @include title-background();
      background-color: lighten($color);
    }
  }
}
