@import "src/shared/styles/constants.scss";

.cross-sell-item {
  margin-bottom: $s5;
  &-image {
    width: 200px;
    margin-bottom: $s4;
  }

  &-description {
    margin-bottom: $s3;
    h2 {
      margin-bottom: $s3;
    }
  }

  &-button {
    padding: 0 $s5;
  }
}
