@import "src/shared/styles/constants.scss";

.cross-sell-item {
  margin-bottom: $s5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  width: 100%;
  height: 100%;

  &-image {
    width: 100%;
    height: 200px;
    margin-bottom: $s4;
    position: relative;
  }

  &-title {
    width: 100%;
    flex: 1;
    word-break: normal;
    white-space: normal;
    margin-bottom: $s3;
  }

  &-description {
    width: 100%;
    margin-bottom: $s3;
  }

  &-button {
    width: 100%;
    padding: 0 $s5;
  }
}
