@import '../../../shared/styles/constants.scss';
@import '../../../shared/styles/colors.scss';

.footer {
  padding: $s3;
  display: flex;
  align-items: center;
  justify-content: center;
  height: $footer-height;

  border-top: 1px solid $grey;

  position: sticky;
  bottom: 0;
  background-color: $white;
}
