@import '/src/shared/styles/constants';
@import '/src/shared/styles/colors';

.radio {
  border: 1px solid $black;

  width: fit-content;

  display: flex;
  align-items: center;

  transition: opacity 0.5s ease;

  &:hover {
    cursor: pointer;
    opacity: 0.5;
  }

  &-label {
    flex: 2;
    text-align: center;

    &-checked {
      color: $green;
    }
  }

  &-img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: $black;

    &-checked {
      background-color: $green;
    }
  }

  input {
    appearance: none;
  }

  &-checked {
    border: 1px solid green;
  }
}
