@import '../../styles/constants.scss';

.cart-sidebar {
  height: 100%;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  &-header {
    display: flex;
    align-items: center;
  }

  &-body {
    padding-top: $s5;
    height: 80%;
    overflow: auto;
  }

  &-footer {
    &-total {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: $s3;
    }
  }
}

.empty-cart-sidebar {
  margin-top: 40vh;
}
