@import "/src/shared/styles/constants";
@import "/src/shared/styles/mixins";
@import "/src/shared/styles/colors";

.product {
  padding: $s4;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: 0.5s;

  &-text-white {
    &:hover {
      color: $white;
    }

    @include tablet-downward {
      color: $white;
    }
  }

  &-text-black {
    &:hover {
      color: $black;
    }

    @include tablet-downward {
      color: $black;
    }
  }

  @include tablet-downward {
    .product-btn-container {
      opacity: 1;
    }

    .product-background {
      opacity: 1;
    }
  }

  &:hover {
    transition: 0.5s;

    .product-btn-container {
      opacity: 1;
      transition: 0.5s;
    }

    .product-background {
      opacity: 1;
      transition: 0.5s;
    }
  }

  &-image {
    flex-basis: 60%;
    flex-grow: 0;
    width: 100%;
    height: 100%;
    position: relative;
    margin-top: $s4;
    margin-bottom: $s4;
  }

  &-title {
    font-size: 50px;
    margin-bottom: $s4;
  }

  &-info {
    flex: 1;
    color: inherit;
    margin-bottom: $s5;
  }

  &-background {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -10;
    opacity: 0;
    transition: 0.5s;
  }

  &-btn-container {
    width: 100%;
    flex: 1;
    opacity: 0;

    padding: 0 $s4;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
  }
}
