@import '../../../shared/styles/constants.scss';
@import '../../../shared/styles/colors.scss';

@mixin hover-state {
  background-color: $nude;
  color: $white;

  .individual-item-btn-container {
    visibility: visible;
  }
}

.individual-item {
  padding: $s4;

  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  transition: background-color 0.5s;

  &-image {
    flex-basis: 60%;
    flex-grow: 0;
    width: 100%;
    position: relative;
  }

  &-info {
    flex: 1;

    color: inherit;
  }

  &-btn-container {
    width: 100%;
    flex: 1;

    padding: 0 $s4;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.individual-item-enable-hover {
  .individual-item-btn-container {
    visibility: hidden;
  }
  &:hover {
    @include hover-state();
  }
}

.individual-item-show-hover {
  @include hover-state();
}
