@import "src/shared/styles/constants";

.quantity-control {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: $s2 0;

  &-available {
    margin: 0 $s5 0 0;
    padding: 0;
  }

  &-in-cart {
    margin: 0 $s3;
  }

  &-button {
    color: white;
    padding: $s2 $s4;
  }
}
