@import "/src/shared/styles/colors";
@import "/src/shared/styles/constants";
@import "/src/shared/styles/mixins";

$sidebar-width: 500px;

.sidebar-container {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;

  z-index: 10000;

  transition: background-color 0.5s ease;

  &-open {
    background-color: opacify($black, 0.85);
  }

  &-close {
    background-color: opacify($black, 0);
  }

  &-content {
    background-color: $white;
    height: 100vh;

    position: absolute;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    transition: width 0.5s ease;

    &-open {
      width: $sidebar-width;

      @media screen and (max-width: $breakpoint-mobile) {
      }
    }

    &-close {
      width: 0;
    }

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      padding: $s3 $s5 0 $s5;

      &-title {
        padding: 0;
        margin: 0;

        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

    &-body {
      padding: 0 $s5 $s3 $s5;
      flex: 1;

      overflow-y: scroll;
      @include no-scrollbar;
    }

    &-footer {
    }
  }
}
