@import "/src/shared/styles/constants";
@import "/src/shared/styles/colors";
@import "/src/shared/styles/mixins";

.detail-layout {
  display: flex;
  @include tablet-upward {
    height: calc(100vh - #{$header-height});
  }

  @include tablet-downward {
    flex-direction: column;
  }

  &-sidebar {
    @include tablet-upward {
      flex: 1;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $light-grey;
    @include tablet-downward {
      height: 500px;
    }
  }

  &-main {
    flex: 1;
    display: flex;
    flex-direction: column;
    @include tablet-upward {
      height: 100%;
      overflow-y: scroll;
      @include no-scrollbar;
    }
  }

  &-title {
    font-size: 5rem;

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: $s3;
    height: 250px;
    padding: 0 $s3;
  }

  &-subtitle {
    font-size: 1.5rem;
    text-align: center;
  }

  &-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 100px;
  }

  &-footer {
    max-height: 200px;
    position: sticky;
    bottom: 0;
    background-color: white;
  }
}
