@import '../../../shared/styles/constants.scss';
@import '../../../shared/styles/colors.scss';

.individual-items-details-page {
  flex: 1;

  display: flex;

  @media screen and (max-width: $breakpoint-tablet) {
    flex-direction: column;
  }

  &-content {
    flex: 1;

    display: flex;
    flex-direction: column;

    @media screen and (max-width: $breakpoint-tablet) {
      max-height: 50vh;
      overflow: auto;
    }

    &-title {
      flex: 2;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-footer {
      flex: 1;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 $s5;
      border-top: 1px solid $grey;
    }
  }
}
