@import '../../../shared/styles/constants.scss';
@import '../../../shared/styles/colors.scss';

.item-information {
  flex: 3;
  padding: $s5;

  &-box {
    float: left;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;

    &-btn {
      font-weight: 300;
      margin-top: $s3;
    }

    &-big {
      max-width: 45%;
      min-width: 45%;
      padding: $s4;
      border: 2px solid $black;

      // Fix border overlap problem
      margin: -1px;
    }

    &-small {
      display: flex;
      flex-direction: row;

      &-btn {
        font-weight: 300;

        // Fix border overlap problem
        margin: -1px;
      }
    }
  }
}
