@import "/src/shared/styles/constants";
@import "/src/shared/styles/colors";

.products-details-page {
  flex: 1;

  display: flex;

  @media screen and (max-width: $breakpoint-tablet) {
    flex-direction: column;
  }

  &-preview {
    display: flex;
    flex: 1;
    background-color: $light-grey;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: $breakpoint-tablet) {
      min-height: 50vh;
    }
  }

  &-content {
    flex: 1;

    display: flex;
    flex-direction: column;

    @media screen and (max-width: $breakpoint-tablet) {
      overflow: visible;
    }

    &-title {
      flex: 2;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: $s3;
    }

    &-footer {
      flex: 1;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 $s5;
      border-top: 1px solid $grey;

      @media screen and (max-width: $breakpoint-tablet) {
        position: sticky;
        bottom: 0;
        background-color: $white;
      }
    }
  }
}
