@import "/src/shared/styles/constants";
@import "/src/shared/styles/colors";

.products-details-page {
  &-preview {
    min-height: 50vh;
    height: 100%;
  }

  &-content {
    @media screen and (max-width: $breakpoint-tablet) {
      overflow: visible;
    }

    &-title {
      text-align: center;
      margin-top: $s3;
    }

    &-footer {
      flex: 1;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 $s5;
      border-top: 1px solid $grey;

      @media screen and (max-width: $breakpoint-tablet) {
        position: sticky;
        bottom: 0;
        background-color: $white;
      }
    }
  }
}
