@import "src/shared/styles/constants";

.cart-sidebar {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &-header {
    display: flex;
    align-items: center;
  }

  &-body {
    padding-top: $s5;
    flex: 1;
  }

  &-button {
    border-radius: 3rem;
  }

  &-footer {
    display: flex;
    flex-direction: column;
    padding: $s5;
    &-total {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: $s3;
    }
  }
}
