@use 'sass:color';

$cyan: #5f8fa4;
$red-soil: #bd7152;
$dark-green: #33462a;
$nude: #c9a05a;
$black: #221f20;
$white: #ffffff;
$transparent: rgba(0, 0, 0, 0);
$red: red;
$blue: blue;

$grey: rgb(209, 209, 209);
$light-grey: #f5f5f5;

@function lighten($color) {
  @return color.adjust($color, $lightness: 30%);
}

@function opacify($color, $opacity) {
  @return rgba($color, $opacity);
}
