@use "sass:color";

$cyan: #5f8fa4;
$red-soil: #bd7152;
$dark-green: #33462a;
$nude: #c9a05a;
$black: #221f20;
$white: #ffffff;
$transparent: rgba(0, 0, 0, 0);
$red: red;
$blue: blue;
$green: #219653;

$dark-grey: #221F20;
$grey: rgb(209, 209, 209);
$light-grey: #f5f5f5;

$colors: (
  "cyan": $cyan,
  "red-soil": $red-soil,
  "dark-green": $dark-green,
  "nude": $nude,
  "black": $black,
  "white": $white,
  "transparent": $transparent,
  "red": $red,
  "blue": $blue,
  "green": $green,
  "grey": $grey,
  "light-grey": $light-grey,
  "dark-grey": $dark-grey,
);

@function lighten($color) {
  @return color.adjust($color, $lightness: 30%);
}

@function opacify($color, $opacity) {
  @return rgba($color, $opacity);
}
