@import "./constants";

@mixin reset-button {
  outline: none;
  border: none;
  font-family: "IBM Plex Mono", monospace;
  margin: 0;

  transition: opacity 0.5s;

  &:hover {
    cursor: pointer;
  }

  &:active {
    cursor: pointer;
  }
}

@mixin emulate-button {
  transition: opacity 0.5s;

  &:hover {
    cursor: pointer;
    opacity: 0.6;
  }

  &:active {
    cursor: pointer;
    opacity: 0.8;
  }
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}

@mixin mobile-downward {
  @media only screen and (max-width: $breakpoint-mobile) {
    @content;
  }
}

@mixin mobile-upward {
  @media only screen and (min-width: $breakpoint-mobile) {
    @content;
  }
}

@mixin tablet-upward {
  @media only screen and (min-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin tablet-downward {
  @media only screen and (max-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin no-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
