@import '../../../shared/styles/constants.scss';

.cart-sidebar {
  height: 100%;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  &-header {
    display: flex;
    align-items: center;
  }

  &-body {
    padding-top: $s5;
    height: 80%;
    overflow-y: auto;
  }

  &-footer {
    &-total {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: $s3;
    }
  }
}

.cross-sell {
  text-align: center;
  padding-top: $s4;
  width: 100%;
  height: 80%;

  &-p {
    overflow: visible;
    white-space: normal;
  }
}
