@import '../../../shared/styles/constants.scss';

.cart-sidebar-item {
  display: flex;

  h4 {
    margin: 0;
  }

  &-image {
    position: relative;
    flex: 1;
  }

  &-description {
    flex: 2;

    &-price {
      margin-bottom: $s4;
    }

    &-delete-prompt {
      display: flex;
    }
  }

  &-quantity {
    flex-basis: 100px;
    height: 100px;
    flex-grow: 0;
    flex-shrink: 0;
    padding: $s3;
  }

  &-deleting {
    opacity: 0.3;
  }
}
