@import '../../../shared/styles/constants.scss';

.about-page-main-content {
  flex-basis: 50%;
  flex-grow: 0;
  padding: $s5;

  &-divider {
    margin: $s5 0;
  }

  &-section {
    margin-bottom: $s6;
    font-weight: 300;
  }
}
