@import '../../../shared/styles/constants.scss';

.about-page-main-content {
  height: 100%;
  padding: $s5;

  overflow: scroll;

  &-title {
    width: 50%;
  }

  &-divider {
    margin: $s5 0;
  }

  &-section {
    margin-bottom: $s6;
    font-weight: 300;
  }
}
