@import 'src/shared/styles/constants.scss';
@import 'src/shared/styles/colors.scss';

.landing-squares {
  position: absolute;

  width: 100%;
  height: 100%;

  padding: $s5;
  overflow: hidden;

  &-block {
    width: 15vw;
    height: 25vh;
    z-index: -10;

    position: absolute;
    top: 50%;
    left: 50%;

    transition: transform 500ms ease, background-color 500ms ease;
  }

  &-cyan {
    background-color: $cyan;
  }

  &-grey {
    background-color: $grey;
  }

  &-red-soil {
    background-color: $red-soil;
  }

  &-dark-green {
    background-color: $dark-green;
  }

  &-nude {
    background-color: $nude;
  }
}
