@import '../../../shared/styles/constants.scss';

.about-page-main-content-section-one {
  display: flex;

  &-label {
    flex-grow: 1;
  }

  &-content {
    margin-left: $s5;
    flex-basis: 70%;
    flex-grow: 0;
    line-height: $s4;
  }
}
