@import "src/shared/styles/constants.scss";

.checkout-page {
  &-content {
    display: flex;

    @media screen and (max-width: $breakpoint-tablet) {
      flex-direction: column-reverse;
    }

    &-section {
      flex: 1;
    }
  }
}
