@import '../../shared/styles/constants.scss';

.checkout-page {
  height: calc(100% - $footer-height);

  display: flex;
  flex-direction: column;

  &-content {
    flex: 1;

    display: flex;

    &-section {
      flex: 1;
    }
  }
}
