@import "src/shared/styles/constants.scss";

.cart-sidebar-item {
  margin-bottom: $s5;

  h4 {
    margin: 0;
  }

  &-image {
    height: 100%;
    position: relative;
  }

  &-description {
    &-price {
      margin-bottom: $s4;
    }

    &-delete-prompt {
      & > p {
        width: 100%;
      }
      display: flex;
    }
  }

  &-quantity {
    height: 100px;
    padding: $s3;
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type="number"] {
      -moz-appearance: textfield;
    }
  }

  &-deleting {
    opacity: 0.3;
  }
}
