@import "src/shared/styles/constants.scss";

.cart-sidebar-item {
  margin: 0 0 $s3;

  h4 {
    margin: 0;
  }

  &-image {
    height: 100%;
    position: relative;
  }

  &-description {
    & > * {
      width: 100%;
      word-break: normal;
      white-space: normal;
    }
    &-delete-prompt {
      display: flex;
    }
  }

  &-quantity {
    height: 80px;
    width: 80px;
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type="number"] {
      -moz-appearance: textfield;
    }
  }

  &-deleting {
    opacity: 0.3;
  }
}
