@import "src/shared/styles/constants.scss";
@import "src/shared/styles/colors.scss";

$custom-btn-padding: 10vw;

.landing-page {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: $breakpoint-tablet) {
    justify-content: start;
  }

  &-cta {
    color: white;
    padding-left: $custom-btn-padding;
    padding-right: $custom-btn-padding;
  }
}
