@import "src/shared/styles/constants.scss";
@import "src/shared/styles/colors.scss";

$custom-btn-padding: 10vw;

.landing-page {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  align-items: center;

  &-title {
    padding: $s3;
    border: 2px solid $black;
    border-top-width: 0;
    width: fit-content;

    margin-top: $s3;
    margin-bottom: $s5;
  }

  &-cta {
    padding-left: $custom-btn-padding;
    padding-right: $custom-btn-padding;
  }
}
