@import "/src/shared/styles/mixins";
@import "/src/shared/styles/colors";
@import "/src/shared/styles/constants";

.tab-item {
  display: inline-block;
  padding: $s3;
  &:hover {
    text-decoration: none;
    color: initial;
  }

  border-style: solid;
  border-width: 2px;
  margin-left: -2px;

  @include emulate-button();

  color: $black;
  background-color: $transparent;
  border-color: $black;

  &-selected {
    color: $white;
    background-color: $black;

    &:hover {
      cursor: pointer;
      opacity: 1;
      color: white;
    }

    &:active {
      cursor: pointer;
      opacity: 1;
    }
  }
}
