@import '../../../styles/mixins.scss';
@import '../../../styles/colors.scss';
@import '../../../styles/constants.scss';

.tab-item {
  display: inline-block;
  padding: $s3;

  border-style: solid;
  border-width: 2px;
  margin-left: -2px;

  @include emulate-button();
}

// Colors
.tab-item-black {
  color: $black;
  background-color: $transparent;
  border-color: $black;

  &-selected {
    color: $white;
    background-color: $black;
  }
}

.tab-item-white {
  color: $white;
  background-color: $transparent;
  border-color: $black;

  &-selected {
    color: $black;
    background-color: $white;
  }
}
