@import "src/shared/styles/constants.scss";
@import "src/shared/styles/mixins.scss";
@import "src/shared/styles/colors.scss";

.landing-banner {
  flex-basis: 60%;
  flex-grow: 0;
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  padding: $s3 0;

  position: relative;

  &-title {
    font-size: 3rem;

    @include mobile-upward {
      font-size: 4rem;
    }

    @include tablet-upward {
      font-size: 5rem;
    }

    font-family: DoChoiChu, "IBM Plex Mono", sans-serif;
    display: flex;
    justify-content: space-between;

    &-span {
      margin: 0 $s3;
      @include mobile-downward {
        margin: 0 $s2;
      }
    }
  }

  &-subtitle-container {
    position: relative;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
  }

  &-subtitle {
    padding: $s3;
    border: 2px solid $black;
    border-top-width: 0;

    position: absolute;
    margin-top: $s3;
    margin-bottom: $s5;

    transition: 0.3s;
    opacity: 1;
    display: block;
    visibility: visible;

    &-hidden {
      visibility: hidden;
      opacity: 0;
      transition: 1s;
    }
  }
}
