@import '/src/shared/styles/colors';
@import '/src/shared/styles/constants';
@import '/src/shared/styles/mixins';

.btn {
  @include reset-button();

  font-weight: 600;
  padding: $s3 $s2;

  &:focus {
    outline: $s1 solid $blue;
  }

  &-disabled {
    opacity: 0.5;
    cursor: not-allowed;

    &:hover {
      opacity: 0.5;
      cursor: not-allowed;
    }

    &:focus {
      outline: none;
    }
  }

  &-contain {
    width: fit-content;
  }

  &-fill-parent {
    width: 100%;
  }
}

// Outlined
.btn-outline-cyan {
  color: $white;
  background-color: $transparent;
  border: 2px solid $cyan;
}

.btn-outline-red-soil {
  color: $red-soil;
  background-color: $transparent;
  border: 2px solid $red-soil;
}

.btn-outline-dark-green {
  color: $dark-green;
  background-color: $transparent;
  border: 2px solid $dark-green;
}

.btn-outline-nude {
  color: $nude;
  background-color: $transparent;
  border: 2px solid $nude;
}

.btn-outline-black {
  color: $black;
  background-color: $transparent;
  border: 2px solid $black;
}

.btn-outline-white {
  color: $white;
  background-color: $transparent;
  border: 2px solid $white;
}

// Filled
.btn-fill-cyan {
  color: $white;
  background-color: $cyan;
}

.btn-fill-red-soil {
  color: $white;
  background-color: $red-soil;
}

.btn-fill-dark-green {
  color: $white;
  background-color: $dark-green;
}

.btn-fill-nude {
  color: $white;
  background-color: $nude;
}

.btn-fill-black {
  color: $white;
  background-color: $black;
}

.btn-fill-white {
  color: $black;
  background-color: $white;
}

// Underscore
.btn-underscore-cyan {
  color: $cyan;
  border-bottom: 1px solid $cyan;
  background-color: $transparent;
  padding: 0;
}

.btn-underscore-red-soil {
  color: $red-soil;
  border-bottom: 1px solid $red-soil;
  background-color: $transparent;
  padding: 0;
}

.btn-underscore-dark-green {
  color: $dark-green;
  border-bottom: 1px solid $dark-green;
  background-color: $transparent;
  padding: 0;
}

.btn-underscore-nude {
  color: $nude;
  border-bottom: 1px solid $nude;
  background-color: $transparent;
  padding: 0;
}

.btn-underscore-black {
  color: $black;
  border-bottom: 1px solid $black;
  background-color: $transparent;
  padding: 0;
}

.btn-underscore-white {
  color: $white;
  border-bottom: 1px solid $white;
  background-color: $transparent;
  padding: 0;
}
