@import '../../../shared/styles/constants.scss';

.checkout-form {
  padding: $s5 $s3;
  height: calc(100vh - $header-height - $footer-height);
  overflow-y: auto;

  &-section {
    padding: $s5;
    padding-top: 0;

    &-header {
      display: flex;
      margin-bottom: $s5;

      &-title {
        margin-left: $s3;
        h2 {
          padding-bottom: $s2;
        }
      }
    }

    &-radio {
      display: flex;

      &-field {
        flex: 1;
      }
    }
  }

  &-button {
    padding: 0 $s5;
    &-wrapper {
      display: flex;
      justify-content: center;

      &-text {
        margin-right: $s2;
      }
    }
  }
}
