@import "../../styles/mixins.scss";
@import "../../styles/colors.scss";

.tab {
  padding: 0;
  margin: 0;
  width: fit-content;
}

// Colors
.tab-black {
  border-color: $black;
}

.tab-white {
  border-color: $white;
}
