@import "../../styles/colors.scss";
@import "../../styles/constants.scss";
@import "../../styles/mixins.scss";

.modal-wrapper {
  background-color: opacify($black, 0.7);
  z-index: 10001;

  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: opacity 0.5s ease;

  &-show {
    opacity: 1;
  }

  &-hide {
    opacity: 0;
  }

  &-inner-content {
    max-height: 400px;
    overflow-y: scroll;
  }

  &-content {
    max-height: 100vh;
    background-color: $white;

    @include mobile-downward {
      padding: $s3;
    }
    padding: $s6 $s6 $s4;
  }

  &-button-container {
    margin-top: $s5;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
